<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sucl.mybatis.mapper.UserMapper">
    <resultMap type="com.sucl.mybatis.model.User" id="userMap">
        <id column="USER_ID" property="userId"/>
        <result column="USERNAME" property="username"/>
        <result column="PASSWORD" property="password"/>
        <result column="AGE" property="age"/>
        <result column="PHONE" property="phone"/>
        <result column="JOB" property="job"/>
        <result column="EMAIL" property="email"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="ONLINE" property="online"/>
    </resultMap>

    <select id="selectById"  resultType="User">
		select * from user where user_id = #{userId}
	</select>
    <select id="selectAll">
        select * from user
    </select>
    <update id="update">
        update user set
        username = #{username}
        and password = #{password}
        and age = #{age}
        and job = #{job}
        and phone = #{job}
        and create_date = #{create_date}
        and online = #{online}
        where user_id = #{userId}
    </update>
    <insert id="save">
        insert into user(user_id,username,password,age,job,phone,create_date,online)
        values(#{userId},#{username},#{password},#{age},#{job},#{phone},#{createDate},#{online,jdbcType=CHAR})
    </insert>
    <delete id="delete">
        delete from user where user_id = #{userId}
    </delete>

</mapper>