<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sucl.mybatis.mapper.UserMapper">
    <resultMap type="com.sucl.mybatis.model.User" id="userMap">
        <id column="USER_ID" property="userId"/>
        <result column="USER_NAME" property="userName"/>
        <result column="PASSWORD" property="password"/>
        <result column="AGE" property="age"/>
        <result column="PHONE" property="phone"/>
        <result column="JOB" property="job"/>
        <result column="EMAIL" property="email"/>
    </resultMap>

    <sql id="all_column">
        user_id,user_name,password,age,phone,job,email
    </sql>

    <select id="selectById"  resultType="com.sucl.mybatis.model.User">
		select
		<include refid="all_column"/>
		from user where user_id = #{userId}
	</select>
    <select id="selectAll">
        select * from user
    </select>
    <update id="update">
        update user set
        <trim prefix="" prefixOverrides="and">
            and user_name = #{userName}
            and password = #{password}
            and age = #{age}
            and phone = #{phone}
            and job = #{job}
            and email = #{email}
        </trim>
        where user_id = #{userId}
    </update>
    <insert id="save">
      insert into user(<include refid="all_column"/>)
      value (#{userId},#{userName},#{password},#{age},#{phone},#{job},#{email})
    </insert>
    <delete id="delete">
        delete from user where user_id = #{userId}
    </delete>

</mapper>